[submodule "dependencies/glfw"]
path = dependencies/glfw
url = https://github.com/stuart6854/glfw.git
[submodule "dependencies/glm"]
path = dependencies/glm
url = https://github.com/g-truc/glm.git
[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = git@github.com:fmtlib/fmt.git
